h1 {
    text-align: center;

}

div.reset {
    display: flex;
    justify-content: center;
}

.resultOutput {
    text-align: center;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px;
    
}

head {
    display: flex;
    justify-content: center;
}

div.messageBoard {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
}


